@import url('https://fonts.googleapis.com/css?family=Lato');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #FAFAE4;
    height: 100vh;
}

.theGroupImage {
    height: 50px;
    margin-right: 10%;
}

.theGroupDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 100%;
}

.createGroupContainer {
    background: rgba(242, 184, 113, 0.1);
    padding: 4em 0.5em;
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.createContainer {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.valueInput {
    border-style: none;
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgba(0,0,0,0.3);
    height: 30px;
}

.groupTitle {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.createGroupButtonContainer {
    display: flex;
    justify-content: center;
}

.createGroupButton {
    all: unset;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    background: rgba(242, 218, 99, 0.5);
    width: 30%;
}

.createGroupButton:active {
    background: rgba(242, 218, 99, 0.9);
}

.displayGroupContainer {
    grid-row: 1;
    grid-column: 2;
    padding: 4em 0.5em 2em;
    height: 100%;
    background: rgba(242, 184, 113, 0.1);
    margin-left: 0.5em;
    overflow: scroll;
}

.groupFlexContainer {
    /* background: rgba(10, 10, 10, 0.2); */
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
}

.visibility {
    display: none;
}

.theGroup {
    margin: 0.5em;
    padding: 1em;
    overflow: hidden;
    /* overflow-x: hidden; */
    background: lemonchiffon;
    width: 30%;
}

.theGroup>* {
    padding-bottom: 0.3em;
}