@import url('https://fonts.googleapis.com/css?family=Lato');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.logo {
    height: 50px;
}

.form_container {
    height: 100vh;
    width: 100%;
    padding: 60px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr;
    margin-bottom: 3%;
}


/* REGISTER USERS CONTAINERS */
#user_container {
    grid-column: 1;
    box-shadow: 3px 3px 5px 4px #ccc;
    width: 100%;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    margin-bottom: 1em;
}

#add_user_flex {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#add_new_user {
    border-style: none;
    border-radius: 3px;
    border: 1px solid rgb(221, 209, 209);
    height: 30px;
    width: 60%;
    padding: 2px;
    padding-left: 5px;
    margin-right: 1.5em;
}

#add_user {
    border-style: none;
    background: #FF6138;
    font-weight: bold;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.howToUse {
    margin-bottom: 0.6em;
    font-style: oblique;
    text-align: start;
    color: black;
}

#list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list_flex_container {
    display: flex;
    width: 100%;
    background: #F1E4B3;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0.3em;
    padding-left: 10px;
    padding-right: 3px;
    border-radius: 8px;
}

.each_user {
    font-weight: bold;
}

.remove_name {
    all: unset;
    background: #2F3440;
    padding: 0.1em;
    padding-bottom: 0.2em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


/* GROUP TABLE AND DISPLAY */

#groupsAndDisplay {
    margin-left: 3%;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    height: 100%;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-columns: 1fr;
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 1em;
    padding-top: 1.5em;
    margin-bottom: 3%;
}

#groupsAndName {
    grid-row: 1;
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}

.groupInput {
    border-style: none;
    border-radius: 3px;
    border: 1px solid rgb(221, 209, 209);
    height: 30px;
    width: 28%;
    padding: 2px;
    padding-left: 5px;
    margin-right: 1.5em;
}

#submitGroupAndName {
    all: unset;
    color: white;
    background: #FF6138;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

.epic_text {
    color: green;
}

#information {
    color: red;
    font-weight: bold;
}

#groupsAndUsersSection {
    grid-template-columns: 1;
    grid-template-rows: 2;
    margin-top: 2em;
}

.groupsAndUsersList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.groupContainer {
    display: flex;
    justify-content: center;
    width: 20%;
    flex-direction: column;
    margin: 1em;
    background: #F0F8FF;
    padding: 5px;
    padding-bottom: 12px;
}

.groupnameAndUsername {
    margin-bottom: 0.5em;
}




/* NAVIGATIONB BAR */
header {
    background: #003542;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before, 
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 100%;
    background: #778899;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #F28C81;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2;
        margin-right: 1em;
    }
    
    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
        cursor: pointer;
    }

    nav a {
        opacity: 1;
    }
}


@media screen and (max-width: 1070px) {
    .form_container {
        height: 100vh;
        width: 100%;
        padding: 60px;
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.6fr;
    }
    
    #user_container .howToUse {
        text-align: center;
    }

    #user_container {
        grid-row: 1;
        grid-column: 1;
    }

    #groupsAndDisplay {
        grid-row: 2;
        grid-column: 1;
        margin-top: 2em;
        margin-left: 0;
    }
    
    #add_user_flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .list_flex_container {
        width: 40%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .each_user {
        margin-bottom: 6px;
    }
}


@media screen and (max-width: 790px) {
    #list {
        display: flex;
        background: rgb(80, 80, 155);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        border-radius: 5px;
    }

    .list_flex_container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}