@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --form_margin-left: 20px;
    --form_margin-bottom: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #282B40;
}

a {
    all: unset;
    cursor: pointer;
    color: #01395C;
}

.sign_up-body {
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 0.1fr;
    grid-template-rows: 0.8fr;
    justify-content: center;
    align-content: center;
}

.title_part {
    margin-left: var(--form_margin-left);
    margin-bottom: var(--form_margin-bottom);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 0.2fr;
}

.titleWords {
    grid-row: 1;
    grid-column: 1;
}

.image {
    height: 70px;
    grid-column: 2;
    margin-right: 0;
    width: 100%;
}

.title_part > * {
    padding: 5px;
    font-weight: normal;
}

#mail_name {
    color: orange;
    letter-spacing: 3px;
    font-size: x-large;
    margin-bottom: 10px;
}

#mail_name::first-letter{
    color: rgb(38, 46, 158);
}

#three {
    color: rgb(81, 161, 81);
}

#four {
    color: rgb(216, 18, 18);
}

#five {
    color: black;
}

#form_display {
    background: #F1F2EC;
    grid-column: 2;
    grid-row: 1;
    /* height: 100%; */
    align-items: center;
    margin: 5%;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.label {
    color: rgb(81, 161, 81);
    padding-bottom: 2px;
}

.form_text {
    border-style: none;
    border-radius: 3px;
    border: 1px solid rgb(221, 209, 209);
    height: 30px;
    padding: 2px;
    padding-left: 5px;
}

.first_part-input, .fourth_part-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: var(--form_margin-bottom);
    justify-items: center;
}

.fourth_part-input {
    margin-bottom: 0;
}

.firstNameContainer, .lastNameContainer, 
.passwordContainer, .confirmPasswordContainer {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 40%;
}

.form_text#userName, #secondaryEmail {
    width: 80%;
}

.second_part-input, .third_part-input {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-bottom: var(--form_margin-bottom);
}

#not_visible {
    height: 30px;
}

.inputValidation, .passwordValidation, .passwordAlert {
    margin-left: var(--form_margin-left);
    padding-top: 5px;
    font-size: 13px;
    font-style: oblique;
    color: red;
}

.invincible {
    display: none;
}

.username-definition {
    margin-bottom: 0px;
}

#indication {
    margin-left: var(--form_margin-left);
    padding: 0.5em;
    color: red;
    font-weight: bolder;
    width: 60%;
    margin-top: 0.2em;
    text-align: center;
}

.fourth_part-action {
    width: 75%;
    margin-left: var(--form_margin-left);
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    align-content: center;
}

.fourth_part-action > *:hover {
    animation: userAction 1s ease-in-out 0s 
}

@keyframes userAction {
    0% {
        opacity: 0.8;
        transform: scale(1.0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0);
    }
}

.signUp {
    all: unset;
    background: #01395C;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.signUp a {
    color: white;
}

/* CAROUSEL DESIGN */

@media screen and (max-width: 1000px) {
    .sign_up-body {
        display: grid;
        grid-template-columns: 0.5% 1fr 0.5%;
        grid-template-rows: 1;
    }
    
    #form_display {
        grid-column: 2;
    }
}