@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --form_margin-left: 20px;
    --form_margin-bottom: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}


#sign_in-body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 90%;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
}

#form {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    margin: 5%;
    padding: 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 5px;
    padding-bottom: 40px;
    padding-top: 30px;
    /* background: green; */
}

.form_input {
    border-style: none;
    height: 35px;
    border-radius: 3px;
    width: 28%;
    padding: 2px;
    margin-left: var(--form_margin-left);
    border: 1px solid rgba(0,0,0,0.3)
}

#text {
    margin-left: var(--form_margin-left);
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-style: oblique;
}

#submit_button {
    all: unset;
    background: #01395C;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 13%;
    text-align: center;
    margin-left: var(--form_margin-left);
}

#submit_button a {
    all: unset;
    color: white;
}

#input_details {
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#input_details > * {
    margin-bottom: 30px;
    flex-shrink: 100px;
    text-align: center;
}