@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --form_margin-left: 20px;
    --form_margin-bottom: 30px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background: #EEF5F1;
}


.logo {
    height: 50px;
}


#sign_in-body {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    grid-template-rows: 0.1fr 0.9fr;
    justify-content: center;
    padding-top: 40px;
    align-content: center;
}

#form {
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    margin: 5%;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 30px;
    width: 80%;
    height: 100%;
    background: #EAEBED;
    /* background: green; */
}

.form_input {
    border-style: none;
    height: 35px;
    border-radius: 3px;
    width: 68%;
    padding: 2px;
    /* margin-left: var(--form_margin-left); */
    border: 1px solid rgba(0,0,0,0.3)
}

#text {
    margin-left: var(--form_margin-left);
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-style: oblique;
    text-align: center;
    color: rgba(10, 60, 25, 0.8)
}

#submit_button {
    all: unset;
    background: #FF0044;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 13%;
    text-align: center;
    margin-left: var(--form_margin-left);
}

#submit_button a {
    all: unset;
    color: white;
}

#reset_password {
    all: unset;
    color: blue;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 1em;
}

#submit_button:hover, #reset_password:hover {
    animation: userAction 1s ease-in-out 0s;
}

@keyframes userAction {
    0% {
        opacity: 0.8;
        transform: scale(1.0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

#input_details {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

#input_details > * {
    margin-bottom: 30px;
    flex-shrink: 100px;
    text-align: center;
}

#indication {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: red;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    #submit_button {
        all: unset;
        background: #FF0044;
        color: white;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        width: 23%;
        text-align: center;
        margin-left: var(--form_margin-left);
    }
    
}

@media screen and (max-width: 1050px) {
    #sign_in-body {
        display: grid;
        grid-template-columns: 0.2fr 0.6fr 0.2fr;
        grid-template-rows: 0.1fr 0.9fr;
        justify-content: center;
        padding-top: 40px;
        align-content: center;
    }
    
}

@media screen and (max-width: 700px) {
    #sign_in-body {
        display: grid;
        grid-template-columns: 0.1fr 0.9fr;
        grid-template-rows: 0.1fr 0.9fr;
        justify-content: center;
        padding-top: 20px;
        align-content: center;
    }

    #indication {
        padding: 0 10px;
    }

    .form_input {
        width: 88%;
    }
}